@font-face {font-family: "iconfont";
  src: url('../fonts/font_228781_etra1u0garl.eot'); /* IE9 */
  src: url('../fonts/font_228781_etra1u0garl.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/26ddad088ddb4dff9c040a5323d71644.woff') format('woff2'),
  url('../fonts/font_228781_etra1u0garl.woff') format('woff'),
  url('../fonts/font_228781_etra1u0garl.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/font_228781_etra1u0garl.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Document:before {
  content: "\e705";
}

.icon-rss1:before {
  content: "\f09c";
}

.icon-edit:before {
  content: "\e695";
}

.icon-write:before {
  content: "\e60e";
}

.icon-download:before {
  content: "\e8d8";
}

.icon-rss:before {
  content: "\ea5b";
}

.icon-email:before {
  content: "\e724";
}

.icon-weibo:before {
  content: "\e6c8";
}

.icon-zhuanfa:before {
  content: "\e6f3";
}

.icon-lock:before {
  content: "\e670";
}

.icon-search:before {
  content: "\e602";
}

.icon-weixin:before {
  content: "\e66b";
}

.icon-coffee:before {
  content: "\e61c";
}

.icon-dashang:before {
  content: "\e672";
}

.icon-close:before {
  content: "\e70c";
}

.icon-tag:before {
  content: "\e61d";
}

.icon-tongji:before {
  content: "\e65e";
}

.icon-user:before {
  content: "\e601";
}

.icon-play:before {
  content: "\e720";
}

.icon-right:before {
  content: "\e610";
}

.icon-left:before {
  content: "\e600";
}

.icon-gift:before {
  content: "\e609";
}

.icon-qq:before {
  content: "\e62d";
}

.icon-up:before {
  content: "\e614";
}

.icon-qrcode:before {
  content: "\e72c";
}

.icon-yinhao:before {
  content: "\e621";
}

.icon-view:before {
  content: "\e607";
}

.icon-comment:before {
  content: "\e6e6";
}

.icon-time:before {
  content: "\e634";
}

.icon-notice:before {
  content: "\e61e";
}

